.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-container {
  margin: 1rem 0;
}

.card {
  max-width: 240px;

  .card-img {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 9px;
  }
  .card-section {
    margin: 0.4rem 0;
    overflow: hidden;

    img {
      width: 14px;
    }
    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.bolder {
  font-weight: bold;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  text-overflow: ellipsis;
}

.social-links {
  margin: 0.3rem 0;
  i {
    padding-right: 0.3rem;
  }
  a {
    color: #ff6f74;
  }
}
