.main {
  display: flex;
  flex-direction: column;
  .main-img {
    justify-self: center;
    align-self: center;
    margin: 2rem 0;
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    margin: 1rem 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    max-width: 400px;
    margin: 1rem 0;
  }
}
